<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>小型超市管理系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
        $(function(){
            // 当disabled为true时，表单不会提交
            $("#b1").attr("disabled",true);

            $("#b1").click(function() {
                var ID = $("#ID").val();
                var Price = $("#Price").val();
                var TradeName = $("#TradeName").val();
                var RDate = $("#RDate").val();
                var Pprice = $("#Pprice").val();
                var QuantityIn = $("#QuantityIn").val();

                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=UTF-8",
                    dataType: "json",
                    url: "/check_updata",
                    data: {"ID":ID, "Price":Price, "TradeName":TradeName, "RDate":RDate, "Pprice":Pprice, "QuantityIn":QuantityIn},
                    success: function(data){
                        console.log(data["ch_up"]);
                        if (data["ch_up"] === 1){alert("修改成功");}
                        else{alert("修改失败");}
                    },
                    error: function () {}
                });
            });

            // 焦点事件，当输入框失去焦点便触发事件
            $('input[name="ID"]').blur(function(){
                // 获取ID的值
                var ID = $(this).val();
                // 去除ID的空格
                ID = ID.replace(/^\s+|s+$/gm, '');

                if (ID.length === 0){
                    $("#s").html('ID不能为空');
                    can_submit = false;
                    return;
                }

                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=UTF-8",
                    dataType: "json",
                    url: "/check_ID",
                    data: {"ID":ID},
                    success: function(data){
                        console.log(data);
                        if (data["err"] === 0) {
                            $("#s").css("color", "red");
                            $("#s").css("font-weight", "bold");
                            $("#s").text('没有该商品ID');
                        }
                        else {
                            $("#s").css("color", "green");
                            $("#s").text('√');
                            $('#b1').attr("disabled",false);
                        }
                    },
                    error: function () {}
                });
            });
        });
    </script>
</head>
<body>
    <h1>欢迎使用超市管理系统</h1>
    <p>修改商品信息</p>
    <div id="d1">
        <form method="post" action="/infor">
        <table>
            <tr><td><label for="ID">商品ID：</label></td><td><input type="text" name="ID" id="ID" placeholder="请输入商品ID,必填"><span id="s" style="margin-left:5px"></span></td></tr>
            <tr><td>售价:</td><td><input type="text" id="Price" name="Price"></td></tr>
            <tr><td>商品名：</td><td><input type="text" id="TradeName" name="TradeName"></td></tr>
            <tr><td>入库日期:</td><td><input type="text" id="RDate" name="RDate"></td></tr>
            <tr><td>进价:</td><td><input type="text" id="Pprice" name="Pprice"></td></tr>
            <tr><td>库存数量:</td><td><input type="text" id="QuantityIn" name="QuantityIn"></td></tr>
            <tr><td></td><td><button id="b1" type="button">提交</button></td></tr>
        </table>
    </form>
    </div>

</body>
</html>